.titulo1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.enunciado1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.ativ1_1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.ativ1_2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.botao1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.resultado1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* //---------------------------------------------------------------------------------------------------------/ */
.titulo2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.enunciado2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.tabela2{
    text-align: center;
}

.mulher{
    text-align: center;
}

.homem{
    text-align: center;
}
/* //---------------------------------------------------------------------------------------------------------/ */
.titulo3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.enunciado3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.tab3{
    text-align: center;
}

.resultado3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* //---------------------------------------------------------------------------------------------------------/ */